Repository poweradmin/poweradmin, pull requests merged in 2022-01, with the labels that each got.

#307 reworked, search now returns one entry per zone, not one entry per each owner
  inc/record.inc.php
Labels: feature, hasPR

#304 Vagrant support
  .gitignore
  VAGRANT.md
  Vagrantfile
  inc/header.inc.php
Labels: improvement

#334 Improvements for handling records
  inc/dns.inc.php
  inc/error.inc.php
Labels: enhancement

#326 Fixes for DNSSEC in Powerdns 4.0
  add_zone_master.php
  dnssec.php
  inc/config-me.inc.php
  inc/dnssec.inc.php
Labels: enhancement

#284 Changes for new pdnsutil
  dnssec.php
  dnssec_add_key.php
  dnssec_delete_key.php
  dnssec_ds_dnskey.php
  inc/dnssec.inc.php
  style/punk.css
  style/punk_edit.css
Labels: enhancement
