Repository poweradmin/poweradmin, pull requests merged in 2025-05, with the labels that each got.

#686 Update poweradmin-mysql-update-to-4.0.0.sql
  sql/poweradmin-mysql-update-to-4.0.0.sql
Labels: api

#693 Problem with external powerdns db after upgrading from 3.9.2 to 4.0.0
  dynamic_update.php
  lib/Application/Controller/Api/V1/ZonesRecordsController.php
  lib/Application/Query/RecordSearch.php
  lib/Application/Query/ZoneSearch.php
  lib/Domain/Model/ZoneTemplate.php
  lib/Domain/Repository/DomainRepository.php
  lib/Domain/Repository/RecordRepository.php
  lib/Domain/Service/Dns/DomainManager.php
  lib/Domain/Service/Dns/RecordManager.php
  lib/Domain/Service/Dns/SOARecordManager.php
  lib/Domain/Service/Dns/SupermasterManager.php
  lib/Domain/Service/DnsValidation/CNAMERecordValidator.php
  lib/Domain/Service/DnsValidation/DNSViolationValidator.php
  lib/Domain/Service/DnsValidation/DnsCommonValidator.php
  lib/Domain/Service/ReverseRecordCreator.php
  lib/Domain/Service/ZoneCountService.php
  lib/Infrastructure/Configuration/ConfigurationManager.php
  lib/Infrastructure/Logger/DbZoneLogger.php
  lib/Infrastructure/Repository/DbRecordCommentRepository.php
  lib/Infrastructure/Repository/DbZoneRepository.php
  lib/Infrastructure/Service/PdnsUtilProvider.php
  tests/helpers/BaseDnsTest.php
  tests/unit/ConfigurationManagerTest.php
  tests/unit/Dns/DNSViolationValidatorTest.php
  tests/unit/DnsRecordTest.php
  tests/unit/RecordRepositoryApexSortingTest.php
  tests/unit/ZoneCountTest.php
Labels: core

#699 locale (de_DE): added translations mainly for index page
  locale/de_DE/LC_MESSAGES/messages.po
Labels: i18n

#702 locale (de_DE): added more translations
  locale/de_DE/LC_MESSAGES/messages.po
Labels: i18n
